<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">毕业去向</label>
            <div class="col-sm-10">
				<f:form.select property="byqxdm" options="{byqxs}" optionValueField="uid" optionLabelField="title" class="select2" style="width:80%;"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位名称</label>
            <div class="col-sm-10">
                <f:form.textfield property="dwmc" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位组织机构代码</label>
            <div class="col-sm-10">
				<f:form.textfield property="dwzzjgdm" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位性质	</label>
            <div class="col-sm-10">
               <f:form.select property="dwxzdm" options="{companyProperties}" optionValueField="uid" optionLabelField="title" class="select2" style="width:80%;"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位行业</label>
            <div class="col-sm-10">
				<f:form.select property="dwhydm" options="{industries}" optionValueField="uid" optionLabelField="title" class="select2" style="width:80%;"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位所在地</label>
            <div class="col-sm-10">
				<f:form.select property="dwszddm" options="{areas}" optionValueField="uid" optionLabelField="title" class="select2mininput" style="width:80%;"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">工作职位类别</label>
            <div class="col-sm-10">
				<f:form.select property="gzzwlbdm" options="{jobCategories}" optionValueField="uid" optionLabelField="title" class="select2" style="width:80%;"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位联系人</label>
            <div class="col-sm-10">
                <f:form.textfield property="dwlxr" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">联系人电话</label>
            <div class="col-sm-10">
				<f:form.textfield property="lxrdh" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">联系人手机</label>
            <div class="col-sm-10">
                <f:form.textfield property="lxrsj" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">联系人电子邮箱</label>
            <div class="col-sm-10">
				<f:form.textfield property="lxrdzyx" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">联系人传真</label>
            <div class="col-sm-10">
                <f:form.textfield property="lxrcz" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位地址</label>
            <div class="col-sm-10">
				<f:form.textfield property="dwdz" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">单位邮编</label>
            <div class="col-sm-10">
                <f:form.textfield property="dwyb" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">报到证签发类别</label>
            <div class="col-sm-10">
				<f:form.select property="bdzqflbdm" options="{bdzqflbs}" optionValueField="uid" optionLabelField="title" class="select2" style="width:80%;"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">报到证签往单位名称</label>
            <div class="col-sm-10">
                <f:form.textfield property="bdzqwdwmc" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">签往单位所在地</label>
            <div class="col-sm-10">
				<f:form.select property="qwdwszddm" options="{areas}" optionValueField="uid" optionLabelField="title" class="select2mininput" style="width:80%;"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">档案转寄单位名称</label>
            <div class="col-sm-10">
                <f:form.textfield property="dazjdwmc" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">档案转寄单位地址</label>
            <div class="col-sm-10">
				<f:form.textfield property="dazjdwdz" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">档案转寄单位邮编</label>
            <div class="col-sm-10">
                <f:form.textfield property="dazjdwyb" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">户口迁转地址</label>
            <div class="col-sm-10">
				<f:form.textfield property="hkqzdz" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>
