<h5 class="row-title before-pink">就业方案信息</h5>
<table class="table table-striped table-hover table-bordered">
	<tr>
		<th>毕业去向</th>
		<td>{job.byqxdm.title}</td>
		<th>单位名称</th>
		<td>{job.dwmc}</td>
	</tr>
	<tr>
		<th>单位组织机构代码</th>
		<td>{job.dwzzjgdm}</td>
		<th>单位性质</th>
		<td>{job.dwxzdm.title}</td>
	</tr>
	<tr>
		<th>单位行业</th>
		<td>{job.dwhydm.title}</td>
		<th>单位性质</th>
		<td>{job.dwxzdm.title}</td>
	</tr>
	<tr>
		<th>单位所在地</th>
		<td>{job.dwszddm.title}</td>
		<th>工作职位类别</th>
		<td>{job.gzzwlbdm.title}</td>
	</tr>
	<tr>
		<th>单位联系人</th>
		<td>{job.dwlxr}</td>
		<th>联系人电话</th>
		<td>{job.lxrdh}</td>
	</tr>
	<tr>
		<th>联系人手机</th>
		<td>{job.lxrsj}</td>
		<th>联系人电子邮箱</th>
		<td>{job.lxrdzyx}</td>
	</tr>
	<tr>
		<th>联系人传真</th>
		<td>{job.lxrcz}</td>
		<th>单位地址</th>
		<td>{job.dwdz}</td>
	</tr>
	<tr>
		<th>单位邮编</th>
		<td>{job.dwyb}</td>
		<th>报到证签发类别</th>
		<td>{job.bdzqflbdm.title}</td>
	</tr>
	<tr>
		<th>报到证签往单位名称</th>
		<td>{job.bdzqwdwmc}</td>
		<th>签往单位所在地</th>
		<td>{job.qwdwszddm.title}</td>
	</tr>
	<tr>
		<th>档案转寄单位名称</th>
		<td>{job.dazjdwmc}</td>
		<th>档案转寄单位地址</th>
		<td>{job.dazjdwdz}</td>
	</tr>
	<tr>
		<th>档案转寄单位邮编</th>
		<td>{job.dazjdwyb}</td>
		<th>户口迁转地址</th>
		<td>{job.hkqzdz}</td>
	</tr>
</table>