<f:layout name="Default" />

<f:section name="main">
    <f:render partial="FormErrors" arguments="{object:Student}"/>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
            <div class="widget-box">
                <div class="widget-header bordered-bottom bordered-blue">
                    <h5 class="widget-caption">信息绑定</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div>
							<f:if condition="{student.issynced} > 0">
								<f:then>
									已绑定
								</f:then>
								<f:else>
									<f:form id="school_agreement_bind_form" action="bindup" name="student" object="{student}" >
										<f:render partial="Student/Bind" arguments="{_all}"/>
										<f:form.submit value="绑定" class="btn btn-blue"/>
									</f:form>
								</f:else>
							</f:if>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>