<f:layout name="Default" />
<f:section name="main">
    <f:render partial="FormErrors" arguments="{object:Student}"/>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
            <div class="widget-box">
                <div class="widget-header bordered-bottom bordered-blue">
                    <h5 class="widget-caption">基础信息核对</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
						<f:if condition="{student.issynced} > 0">
							<f:then>
								<f:render partial="Student/Properties" arguments="{student:student}" />
								<div>
									<f:form class="form-horizontal" action="update" name="student" object="{student}" >
										<h5 class="row-title before-pink">信息核对确认</h5>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right">信息核对</label>
													<div class="col-sm-10">
													<div class="row">
														<div class="col-md-3">
															<div class="radio">
																<label>
																	<f:form.radio property="issourcechecked" value="1" />
																	<span class="text">准确无误</span>
																</label>
															</div>
														</div>
														<div class="col-md-3">
															<div class="radio">
																<label>
																	<f:form.radio property="issourcechecked" value="0" />
																	<span class="text">信息有误</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												</div>
											</div>
											<div class="col-sm-6">
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label class="col-sm-2 control-label no-padding-right">信息核对备注</label>
													<div class="col-sm-10">
														<f:form.textarea cols="20" rows="5" property="errinfo" class="form-control" style="width:80%"/>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
											</div>
										</div>
										<f:form.submit class="btn btn-palegreen" value="保存" />
									</f:form>
								</div>
								<div>
									<f:form id="school_agreement_student_eidt_form" class="form-horizontal" action="update" name="student" object="{student}" >
										<f:render partial="Student/FormFields" arguments="{student:student}" />
										<f:form.submit class="btn btn-palegreen" value="保存" />
									</f:form>
								</div>
							</f:then>
							<f:else>
								信息未绑定，请先绑定
							</f:else>
						</f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>