<f:layout name="Default" />
<f:section name="main">

<f:if condition="{student.issynced} > 0">
	<f:then>
		<f:render partial="Student/PrintAera" arguments="{student:student}" />
	</f:then>	
	<f:else>
		信息未绑定，请先绑定
	</f:else>
</f:if>
</f:section>