{namespace h=TaoJiang\SchoolAgreement\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget-box">
            <div class="widget-header ">
                <h5 class="widget-caption">学生详细信息查看</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
					
					<h5 class="row-title before-pink">信息确认情况</h5>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right">基础信息是否确认</label>
								<div class="col-sm-4">{f:if(condition: student.issourcechecked, then: '是', else: '否')}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="col-sm-4 control-label no-padding-right">就业方案信息是否确认</label>
								<div class="col-sm-4">{f:if(condition: student.isjobchecked, then: '是', else: '否')}</div>
							</div>
						</div>
					</div>
					
					<f:render partial="Student/Properties" arguments="{student:student}" />
					<f:render partial="Student/PlusProperties" arguments="{student:student}" />
					<f:render partial="Job/Properties" arguments="{job:student}" />
                </div>
            </div>
        </div>
    </div>
</div>
</f:section>