{namespace h=TaoJiang\SchoolAgreement\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget-box">
            <div class="widget-header ">
                <h5 class="widget-caption">签约统计</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
                    <div class="table-toolbar clearfix">
						<div class="btn-group pull-left">
							<f:form name="search" object="{search}" class="form-inline" method="GET">
								<div class="form-group">
									<input type="hidden" name="id" value="{pageUid}" />
									<input type="hidden" name="no_cache" value="1" />
									<f:form.hidden name="action" value="statistics" />
									<label class="m_r_5">毕业年度</label>
									<f:form.select property="lddm" options="{lddms}" optionValueField="uid" optionLabelField="title" prependOptionLabel="不限" prependOptionValue="0"/>
								</div>
								
								<f:if condition="{schoolUser}">
									<f:then>
										<div class="form-group">
											<label class="m_l_10 m_r_5">学院</label>
											<f:form.select property="college" options="{colleges}" optionValueField="uid" optionLabelField="yxsmc" prependOptionLabel="不限" prependOptionValue="0"/>
										</div>
										<div class="form-group">
											<label class="m_l_10 m_r_5">专业</label>
											<f:form.select property="major" options="{majors}" optionValueField="uid" optionLabelField="zymc" prependOptionLabel="不限" prependOptionValue="0"/>
										</div>
									</f:then>
									<f:else>
										<div class="form-group">
											<label class="m_l_10 m_r_5">院校</label>
											<f:form.select property="school" options="{schools}" optionValueField="uid" optionLabelField="xxmc" prependOptionLabel="不限" prependOptionValue="0"/>
										</div>
									</f:else>
								</f:if>
								
								<div class="form-group">
									<label class="m_l_10 m_r_5">学历层次</label>
									<f:form.select property="diploma" options="{diplomas}" optionValueField="uid" optionLabelField="title" prependOptionLabel="不限" prependOptionValue="0"/>
								</div>
								<div class="form-group">
									<label class="m_l_10 m_r_5">关键词</label>
									<f:form.textfield property="keyword" class="form-control" placeholder="姓名/身份证号"/>
								</div>
								<div class="form-group m_l_10 m_r_5 ">
									<f:form.submit value="搜索" class="btn btn-default"/>
								</div>
								<div class="form-group">
									<f:link.action action="statistics" target="_self" class="btn btn-default">显示全部</f:link.action>
								</div>
							</f:form>
						</div>
						
						<div class="btn-group pull-right">
							
						</div>
                    </div>
                    <f:widget.paginate objects="{students}" as="studentsPagination"  configuration="{settings.paginate}">
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr role="row">
								<th>姓名</th>
								<th>身份证号</th>
								<th>学生类别</th>
								<th>院校</th>
								<th>学院</th>
								<th>专业</th>
								<th>学历</th>
								<th>毕业年度</th>
								<th>生源所在地</th>
								<th>手机号码</th>
								<th>电子邮箱</th>
								<th>基础信息确认</th>
								<th>就业信息确认</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{studentsPagination}" as="student">
							<tr>
								<td>{student.name}</td>
								<td>{student.idCard}</td>
								<td><f:translate key="tx_schoolagreement_domain_model_student.xslx.I.{student.xslx}" /></td>
								<td>{student.school.xxmc}</td>
								<td>{student.college.yxsmc}</td>
								<td>{student.major.zymc}</td>
								<td>{student.diploma.title}</td>
								<td>{student.lddm}</td>
								<td>{student.nativetowns.title}</td>
								<td>{student.mobile}</td>
								<td>{student.email}</td>
								<td>{f:if(condition: student.issourcechecked, then: '是', else: '否')}</td>
								<td>{f:if(condition: student.isjobchecked, then: '是', else: '否')}</td>
								<td><f:link.action action="show" arguments="{student : student}" target="_blank" class="btn btn-info btn-xs">查看</f:link.action></td>
							</tr>
							</f:for>
						</tbody>
					</table>
					<div class="text-right m_t_10 m_b_10">
						<h:statistics datas="{students}" />
					</div>
					</f:widget.paginate>
                </div>
            </div>
        </div>
    </div>
</div>
</f:section>

