<div class="form-group">
    <label for="price2">身份证号 *</label>
    <f:form.textfield property="idCard" class="form-control" style="width:50%"/>
</div>

<div class="form-group">
    <label for="price2">姓名 *</label>
    <f:form.textfield property="name" class="form-control" style="width:30%"/>
</div>