<h5 class="row-title before-pink">学生扩展信息</h5>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">城乡生源* </label>
            <div class="col-sm-10">
				<div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                            <label>
                                <f:form.radio property="cxsy" value="1" />
                                <span class="text">是</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="radio">
                            <label>
                                <f:form.radio property="cxsy" value="0" />
                                <span class="text">否</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">入学前档案所在单位* </label>
            <div class="col-sm-10">
                <f:form.textfield property="rxqdaszdw" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">档案是否转入学校* </label>
            <div class="col-sm-10">
				<div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                            <label>
                                <f:form.radio property="dasfzrxx" value="1" />
                                <span class="text">是</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="radio">
                            <label>
                                <f:form.radio property="dasfzrxx" value="0" />
                                <span class="text">否</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">入学前户口所在地派出所* </label>
            <div class="col-sm-10">
                <f:form.textfield property="rxqhkszdpcs" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">户口是否转入学校* </label>
            <div class="col-sm-10">
				<div class="row">
                    <div class="col-md-3">
                        <div class="radio">
                            <label>
                                <f:form.radio property="hksfzrxx" value="1" />
                                <span class="text">是</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="radio">
                            <label>
                                <f:form.radio property="hksfzrxx" value="0" />
                                <span class="text">否</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">手机号码* </label>
            <div class="col-sm-10">
                <f:form.textfield property="mobile" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">电子邮箱* </label>
            <div class="col-sm-10">
                <f:form.textfield property="email" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">QQ号码* </label>
            <div class="col-sm-10">
                <f:form.textfield property="qq" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">家庭地址* </label>
            <div class="col-sm-10">
                <f:form.textfield property="homeAddress" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">家庭电话* </label>
            <div class="col-sm-10">
                <f:form.textfield property="homeTelephone" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">家庭邮编* </label>
            <div class="col-sm-10">
                <f:form.textfield property="homeZip" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">备注</label>
            <div class="col-sm-10">
                <f:form.textarea cols="20" rows="5" property="sourceBz" class="form-control" style="width:80%"/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>
