<h5 class="row-title before-pink">学生扩展信息</h5>
<table class="table table-striped table-hover table-bordered">
	<tr>
		<th>城乡生源</th>
		<td>{f:if(condition: student.cxsy, then: '是', else: '否')}</td>
		<th>入学前档案所在单位</th>
		<td>{student.rxqdaszdw}</td>
	</tr>
	<tr>
		<th>档案是否转入学校</th>
		<td>{f:if(condition: student.dasfzrxx, then: '是', else: '否')}</td>
		<th>入学前户口所在地派出所</th>
		<td>{student.rxqhkszdpcs}</td>
	</tr>
	<tr>
		<th>户口是否转入学校</th>
		<td>{f:if(condition: student.hksfzrxx, then: '是', else: '否')}</td>
		<th>手机号码</th>
		<td>{student.mobile}</td>
	</tr>
	<tr>
		<th>电子邮箱</th>
		<td>{student.email}</td>
		<th>QQ号码</th>
		<td>{student.qq}</td>
	</tr>
	<tr>
		<th>家庭地址</th>
		<td>{student.homeAddress}</td>
		<th>家庭电话</th>
		<td>{student.homeTelephone}</td>
	</tr>
	<tr>
		<th>家庭邮编</th>
		<td>{student.homeZip}</td>
		<th>备注</th>
		<td>{student.sourceBz}</td>
	</tr>
</table>
