<div style="width:650px;">
	<div class="text-right">
		<a href="javascript:void(0);" class="btn btn-info printBtn">打印</a>
	</div>
	<div  class="print_area" style="margin:0 auto;">
		<style id="table">
			#preview{font-family:宋体; font-size:12px;}
			#preview table.noBorderTable td,#preview table.noBorderTable th,#preview table.noBorderTable caption {
				border: 1px dashed #ddd !important
			}

			#preview table.sortEnabled tr.firstRow th,#preview table.sortEnabled tr.firstRow td {
				padding-right: 20px;
				background-repeat: no-repeat;
				background-position: center right;
			}

			#preview table.sortEnabled tr.firstRow th:hover,#preview table.sortEnabled tr.firstRow td:hover {
				background-color: #EEE;
			}

			#preview table {
				margin-bottom: 0px;
				border-collapse: collapse;
				display: table;
				width:650px;
			}

			#preview td,#preview th {
				background: white;
				padding: 5px 10px;
				border: 1px solid #DDD;
			}

			#preview caption {
				border: 1px dashed #DDD;
				border-bottom: 0;
				padding: 3px;
				text-align: center;
			}

			#preview th {
				border-top: 1px solid #BBB;
				background: #F7F7F7;
			}

			#preview table tr.firstRow th {
				border-top: 2px solid #BBB;
				background: #F7F7F7;
			}

			#preview tr.ue-table-interlace-color-single td {
				background: #fcfcfc;
			}

			#preview tr.ue-table-interlace-color-double td {
				background: #f7faff;
			}

			#preview td p {
				margin: 0;
				padding: 0;
				line-height:16px;
			}

			#preview table.noBorderTable td,#preview table.noBorderTable th,#preview table.noBorderTable caption {
				border: 1px dashed #ddd !important
			}

			#preview table.sortEnabled tr.firstRow th,#preview table.sortEnabled tr.firstRow td {
				padding-right: 20px;
				background-repeat: no-repeat;
				background-position: center right;
			}

			#preview table.sortEnabled tr.firstRow th:hover,#preview table.sortEnabled tr.firstRow td:hover {
				background-color: #EEE;
			}

			#preview td,#preview th {
				background: white;
				padding: 2px 5px;
				border: 1px solid #DDD;
			}

			#preview caption {
				border: 1px dashed #DDD;
				border-bottom: 0;
				padding: 3px;
				text-align: center;
			}

			#preview th {
				border-top: 1px solid #BBB;
				background: #F7F7F7;
			}

			#preview table tr.firstRow th {
				border-top: 2px solid #BBB;
				background: #F7F7F7;
			}

			#preview tr.ue-table-interlace-color-single td {
				background: #fcfcfc;
			}

			#preview tr.ue-table-interlace-color-double td {
				background: #f7faff;
			}

			#preview td p {
				margin: 0;
				padding: 0;
			}
			 
		</style> 
		<div id="preview" style="font-family:宋体; font-size:12px;"> 
			<p style="margin-top:0;margin-bottom:0">编号：{student.zsbh}</p> 
			<p style="margin-top: 0px; margin-bottom: 0px; text-align: center;"><span><span style="font-size: 20px; font-weight: bold; text-align: center;">内蒙古自治区普通高校毕业生就业协议书</span></span></p> 
			<p style="margin-top: 0px; margin-bottom: 0px;"><span><span><br /></span></span></p> 
			<table> 
				<tbody> 
					<tr style="height:31px" class="firstRow"> 
						<td width="49" valign="center" rowspan="7"><p><span>乙&nbsp;方</span></p></td> 
						<td width="98" valign="center" colspan="2"><p><span>姓&nbsp;&nbsp;名</span></p></td> 
						<td width="239" valign="center" colspan="10">{student.name}</td> 
						<td width="81" valign="center" colspan="2"><p><span>性&nbsp;&nbsp;别</span></p></td> 
						<td width="120" valign="center" colspan="3">{student.gender.title}</td> 
						<td width="78" valign="center" colspan="2"><p><span>出生年月</span></p></td> 
						<td width="82" valign="center">{student.birthday->f:format.date(format: 'Y-m-d')}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>民&nbsp;&nbsp;族</span></p></td> 
						<td valign="center" colspan="3">{student.national.title}</td> 
						<td valign="center" colspan="4"><p><span>政治面貌</span></p></td> 
						<td valign="center" colspan="5">{student.political.title}</td> 
						<td valign="center" colspan="3"><p><span>培养方式</span></p></td> 
						<td valign="center" colspan="3">{student.pyfsdm.title}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>毕业学校</span></p></td> 
						<td valign="center" colspan="10">{student.school.xxmc}</td> 
						<td valign="center" colspan="2"><p><span>专&nbsp;&nbsp;业</span></p></td> 
						<td valign="center" colspan="6">{student.major.zymc}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>学&nbsp;&nbsp;制</span></p></td> 
						<td valign="center" colspan="2">{student.schoolsystem.title}</td> 
						<td valign="center" colspan="4"><p><span>学&nbsp;&nbsp;历</span></p></td> 
						<td valign="center" colspan="4">{student.diploma.title}</td> 
						<td valign="center" colspan="2"><p><span>入学时间</span></p></td> 
						<td valign="center" colspan="3">{student.rxsj->f:format.date(format: 'Y-m-d')}</td> 
						<td valign="center" colspan="2"><p><span>毕业时间</span></p></td> 
						<td valign="center">{student.bysj->f:format.date(format: 'Y-m-d')}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>生源地</span></p></td> 
						<td valign="center" colspan="10">{student.nativetowns.title}</td> 
						<td valign="center" colspan="2"><p><span>联系电话</span></p></td> 
						<td valign="center" colspan="6">{student.mobile}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>通讯地址</span></p></td> 
						<td valign="center" colspan="15">{student.homeAddress}</td> 
						<td valign="center" colspan="2"><p><span>邮政编码</span></p></td> 
						<td valign="center">{student.homeZip}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>应聘方式</span></p></td> 
						<td valign="center" colspan="18"><p><span>□学校招聘会&nbsp;&nbsp;&nbsp;□政府举办招聘会&nbsp;&nbsp;&nbsp;□人才市场&nbsp;&nbsp;&nbsp;□网络签约&nbsp;&nbsp;&nbsp;□其&nbsp;它</span></p></td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" rowspan="8"><p><span>甲&nbsp;方</span></p></td> 
						<td valign="center" colspan="2"><p><span>就业单位名称</span></p></td> 
						<td valign="center" colspan="12">{student.dwmc}</td> 
						<td valign="center" colspan="3"><p><span>组织机构代码</span></p></td> 
						<td valign="center" colspan="3">{student.dwzzjgdm}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>单位性质</span></p></td> 
						<td valign="center" colspan="18"><p><span>□党政机关&nbsp;&nbsp;□事业单位&nbsp;&nbsp;□国有企业&nbsp;&nbsp;□非公有制企业&nbsp;&nbsp;□部&nbsp;队&nbsp;□其&nbsp;它</span></p></td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>单位行业</span></p></td> 
						<td valign="center" colspan="5">{student.dwhydm.title}</td> 
						<td valign="center" colspan="6"><p><span>单位所在地</span></p></td> 
						<td valign="center" colspan="7">{student.dwszddm.title}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>联系人</span></p></td> 
						<td valign="center" colspan="5">{student.dwlxr}</td> 
						<td valign="center" colspan="6"><p><span>联系电话</span></p></td> 
						<td valign="center" colspan="7">{student.lxrdh}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>通讯地址</span></p></td> 
						<td valign="center" colspan="18">{student.dwdz}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="2"><p><span>工作职位类别</span></p></td> 
						<td valign="center" colspan="3">{student.gzzwlbdm.title}</td> 
						<td valign="center" colspan="8"><p><span>是否接收档及案</span><span>户口</span></p></td> 
						<td valign="center" colspan="3"><br /></td> 
						<td valign="center"><p><span>邮政编码</span></p></td> 
						<td valign="center" colspan="3">{student.dwyb}</td> 
					</tr> 
					<tr style="height:47px"> 
						<td valign="center" colspan="2"><p><span>报到证签往单位名称</span></p></td> 
						<td valign="center" colspan="14">{student.bdzqwdwmc}</td> 
						<td valign="center"><p><span>签往单位所在地</span></p></td> 
						<td valign="center" colspan="3">{student.qwdwszddm.title}</td> 
					</tr> 
					<tr style="height:31px"> 
						<td valign="center" colspan="6"><p><span>毕业生档案转寄详细地址</span></p></td> 
						<td valign="center" colspan="14">{student.dazjdwdz}</td> 
					</tr> 
					<tr style="height:126px"> 
						<td valign="center" colspan="7">
							<p><span>甲方意见：</span></p>
							<p><span>&nbsp;</span></p>
							<p><span>&nbsp;</span></p>
							<p align="center"><span>经办人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签&nbsp;&nbsp;章</span></p>
							<p><span>&nbsp;</span></p>
							<p align="right"><span>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;</span></p>
						</td> 
						<td valign="center" colspan="9">
							<p><span>甲方上级主管部门（或地方毕业生就业主管部门）意见：</span></p>
							<p><span>&nbsp;</span></p>
							<p align="center"><span>签&nbsp;&nbsp;章</span></p>
							<p><span>&nbsp;</span></p>
							<p align="right"><span>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;</span></p>
						</td> 
						<td valign="center" colspan="5">
							<p><span>乙方意见：</span></p>
							<p><span>&nbsp;</span></p>
							<p align="center"><span>签&nbsp;&nbsp;名：</span></p>
							<p><span>&nbsp;</span></p>
							<p align="right"><span>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;</span></p>
						</td> 
					</tr> 
					<tr style="height:35px"> 
						<td valign="center" colspan="2"><p><span>学校联系人</span></p></td> 
						<td valign="center" colspan="5"><br /></td> 
						<td valign="center" colspan="4"><p><span>联系电话</span></p></td> 
						<td valign="center" colspan="5"><br /></td> 
						<td valign="center" colspan="3"><p><span>邮政编码</span></p></td> 
						<td valign="center" colspan="2"><br /></td> 
					</tr> 
					<tr style="height:35px"> 
						<td valign="center" colspan="2"><p><span>学校通讯地址</span></p></td> 
						<td valign="center" colspan="19"><br /></td> 
					</tr> 
					<tr style="height:94px"> 
						<td valign="top" colspan="12">
							<p><span>&nbsp;</span></p>
							<p><span>院（系）意见：</span></p>
							<p><span>&nbsp;</span></p>
							<p align="center"><span>签&nbsp;&nbsp;章</span></p>
							<p><span>&nbsp;</span></p>
							<p align="right"><span>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;&nbsp;</span></p>
							<p><span>&nbsp;</span></p>
						</td> 
						<td valign="top" colspan="9">
							<p><span>&nbsp;</span></p>
							<p><span>学校毕业生就业部门审核意见：</span></p>
							<p><span>&nbsp;</span></p>
							<p align="center"><span>签&nbsp;&nbsp;章</span></p>
							<p><span>&nbsp;</span></p>
							<p align="right"><span>年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;</span></p>
							<p><span>&nbsp;</span></p>
						</td> 
					</tr> 
				</tbody> 
			</table> 
		</div> 
	</div>
</div>