<h5 class="row-title before-pink">学生基本信息</h5>
<table class="table table-striped table-hover table-bordered">
	<tr>
		<th>姓名</th>
		<td>{student.name}</td>
		<th>性别</th>
		<td>{student.gender.title}</td>
	</tr>
	<tr>
		<th>考生号</th>
		<td>{student.ksh}</td>
		<th>身份证号</th>
		<td>{student.idCard}</td>
	</tr>
	<tr>
		<th>民族</th>
		<td>{student.national.title}</td>
		<th>政治面貌</th>
		<td>{student.political.title}</td>
	</tr>
	<tr>
		<th>院校</th>
		<td>{student.school.xxmc}</td>
		<th>院校所在省代码</th>
		<td>{student.yxszsdm}</td>
	</tr>
	<tr>
		<th>学历</th>
		<td>{student.diploma.title}</td>
		<th>专业</th>
		<td>{student.major.zymc}</td>
	</tr>
	<tr>
		<th>专业方向</th>
		<td>{student.zyfx}</td>
		<th>培养方式</th>
		<td>{student.pyfsdm.title}</td>
	</tr>
	<tr>
		<th>生源所在地</th>
		<td>{student.nativetowns.title}</td>
		<th>学制</th>
		<td>{student.schoolsystem.title}</td>
	</tr>
	<tr>
		<th>入学时间</th>
		<td>{student.rxsj->f:format.date(format: 'Y-m-d')}</td>
		<th>毕业时间</th>
		<td>{student.bysj->f:format.date(format: 'Y-m-d')}</td>
	</tr>
	<tr>
		<th>师范生类别</th>
		<td>{student.sfslbdm.title}</td>
		<th>困难生类别</th>
		<td>{student.knslbdm.title}</td>
	</tr>
	<tr>
		<th>定向或委培单位</th>
		<td>{student.dxhwpdw}</td>
		<th>分校名称</th>
		<td>{student.campus}</td>
	</tr>
	<tr>
		<th>所在院系</th>
		<td>{student.college.yxsmc}</td>
		<th>所在班级</th>
		<td>{student.class}</td>
	</tr>
	<tr>
		<th>学号</th>
		<td>{student.number}</td>
		<th>出生日期</th>
		<td>{student.birthday->f:format.date(format: 'Y-m-d')}</td>
	</tr>
	<tr>
		<th>协议书代码</th>
		<td>{student.xysdm}</td>
		<th>授课语言</th>
		<td>{student.sfmyjx.title}</td>
	</tr>
	<tr>
		<th>证书编号</th>
		<td>{student.zsbh}</td>
		<th>协议书发放</th>
		<td>{student.xysff}</td>
	</tr>
</table>