{namespace p=Tx_Fed_ViewHelpers}
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'JavaScript/validation/jquery.validate.min.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'JavaScript/validation/messages_zh.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'JavaScript/select2.min.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'JavaScript/select2_locale_zh-CN.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'JavaScript/jquery.PrintArea.js')}" />
<p:pageRenderer.addJsFooterFile file="{f:uri.resource(path:'JavaScript/common.default.js')}" />
<p:pageRenderer.addCssFile file="{f:uri.resource(path:'Css/style.css')}" />
<div class="tx-school-agreement">
	<f:render section="main" />
</div>