<div class="form-group">
	<label>用户名</label><br />
	{teacher.username}
</div>

<div class="form-group">
	<label>姓名<span class="required">*</span></label>
	<f:form.textfield property="name" style="width:80%;" class="form-control"/>
</div>

<div class="form-group">
	<label>院校<span class="required">*</span></label><br />
	<f:form.select property="school" options="{schools}" optionValueField="uid" optionLabelField="xxmc" class="select2" style="width:80%;"/>
</div>

<div class="form-group">
	<label>手机</label>
	<f:form.textfield property="mobile" style="width:80%;" class="form-control"/>
</div>

<div class="form-group">
	<label>邮箱</label>
	{teacher.email}
	<!-- <f:form.textfield property="email" style="width:80%;" class="form-control"/> -->
</div>
