.m_l_10{margin-left:10px}
.m_r_10{margin-right:10px}
.m_t_10{margin-top:10px}
.m_b_10{margin-bottom:10px}
.m_l_5{margin-left:5px}
.m_r_5{margin-right:5px}
.m_t_5{margin-top:5px}
.m_b_5{margin-bottom:5px}

input[type=checkbox].normal{position: relative;opacity: initial;left: 0;margin: 0;}