<f:layout name="Default" />
<f:section name="main">
    <f:render partial="FormErrors" arguments="{object:Teacher}"/>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
            <div class="widget-box">
                <div class="widget-header bordered-bottom bordered-blue">
                    <h5 class="widget-caption">信息编辑</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
						<div>
							<f:form id="school_agreement_teacher_eidt_form" action="update" name="teacher" object="{teacher}" arguments="{returnUrl:returnUrl}">
								<f:render partial="Teacher/FormFields" arguments="{_all}" />
								
								<div>
									<f:if condition="{returnUrl}">
										<f:then><a href="{returnUrl}" class="btn btn-info">返回</a></f:then>
										<f:else><f:link.action action="list" class="btn btn-info">返回</f:link.action></f:else>
									</f:if>
									<f:form.submit class="btn btn-palegreen" value="保存" />
								</div>
							</f:form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>