{namespace h=TaoJiang\SchoolAgreement\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget-box">
            <div class="widget-header ">
                <h5 class="widget-caption">学校帐号管理</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
                    <div class="table-toolbar clearfix">
						<div class="btn-group pull-left">
							<f:form name="search" object="{search}" class="form-inline" method="GET">
								<input type="hidden" name="id" value="{pageUid}" />
								<input type="hidden" name="no_cache" value="1" />
								<f:form.hidden name="action" value="list" />
								<div class="form-group">
									<label class="m_l_10 m_r_5">院校</label>
									<f:form.select property="school" options="{schools}" optionValueField="uid" optionLabelField="xxmc" prependOptionLabel="不限" prependOptionValue="0"/>
								</div>
								
								<div class="form-group">
									<label class="m_l_10 m_r_5">关键词</label>
									<f:form.textfield property="keyword" class="form-control" placeholder="用户名/姓名/手机/邮箱"/>
								</div>
								<div class="form-group m_l_10 m_r_5 ">
									<f:form.submit value="搜索" class="btn btn-default"/>
								</div>
								<div class="form-group">
									<f:link.action action="list" target="_self" class="btn btn-default">显示全部</f:link.action>
								</div>
							</f:form>
						</div>
						
						<div class="btn-group pull-right">
							
						</div>
                    </div>
                    <f:widget.paginate objects="{teachers}" as="teachersPagination"  configuration="{settings.paginate}">
					<table class="table table-striped table-hover table-bordered">
						<thead>
							<tr role="row">
								<th width="20"></th>
								<th width="150" class="text-center">用户名</th>
								<th class="text-center">姓名</th>
								<th>院校</th>
								<th width="120" class="text-center">手机</th>
								<th width="150" class="text-center">邮箱</th>
								<th width="100" class="text-center">激活状态</th>
								<th width="120"></th>
							</tr>
						</thead>
						<tbody>
							<f:for each="{teachersPagination}" as="teacher">
							<tr>
								<td>
									<input class="normal sel" type="checkbox" value="{teacher.uid}">	
								</td>
								<td>{teacher.username}</td>
								<td>{teacher.name}</td>
								<td>{teacher.school.xxmc}</td>
								<td>{teacher.mobile}</td>
								<td>{teacher.email}</td>
								<td class="text-center">{f:if(condition: teacher.disable, then: '<span style="color:red;">否</span>', else: '是')}</td>
								<td>
									<f:if condition="{teacher.disable}">
										<f:then>
											<f:link.action action="active" arguments="{teacher:teacher, returnUrl:returnUrl}" class="btn btn-success btn-xs">激活</f:link.action>
										</f:then>
										<f:else>
											<f:link.action action="edit" arguments="{teacher:teacher, returnUrl:returnUrl}" class="btn btn-info btn-xs">编辑</f:link.action>
										</f:else>
									</f:if>
									<f:link.action action="delete" arguments="{teacher:teacher, returnUrl:returnUrl}" class="btn btn-danger btn-xs btn-del">删除</f:link.action>
								</td>
							</tr>
							</f:for>
							<tr>
								<td>
									<input class="normal selectall" type="checkbox">	
								</td>
                                <td colspan="7">
									<div class="row">
										<div class="col-sm-1">
											<f:form action="multiactive" name="datas" arguments="{returnUrl:returnUrl}">
												<f:form.hidden class="multiaction-items" property="items" value=""/>
												<f:form.submit value="激活选中" class="btn btn-success btn-xs btn-multiaction-all"/>
											</f:form>
										</div>
										<div class="col-sm-1">
											<f:form action="multidelete" name="datas" arguments="{returnUrl:returnUrl}">
												<f:form.hidden class="multiaction-items" property="items" value=""/>
												<f:form.submit value="删除选中" class="btn btn-danger btn-xs delete btn-del btn-multiaction-all"/>
											</f:form>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</f:widget.paginate>
                </div>
            </div>
        </div>
    </div>
</div>
</f:section>

