<f:layout name="Default" />
<f:section name="main">
    <f:render partial="FormErrors" arguments="{object:Job}"/>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <f:flashMessages renderMode="div" class="alert alert-success fade in"/>
            <div class="widget-box">
                <div class="widget-header bordered-bottom bordered-blue">
                    <h5 class="widget-caption">就业方案信息核对</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
					<f:if condition="{job.issynced} > 0">
						<f:then>
							<f:if condition="{job.isjobchecked} == 1">
								<f:then>
									<f:render partial="Job/Properties" arguments="{job:job}" />
								</f:then>
								<f:else>
									<div>
										<f:form id="school_agreement_job_eidt_form" class="form-horizontal" action="update" name="job" object="{job}" >
											<f:render partial="Job/FormFields" arguments="{_all}" />
											<f:form.submit class="btn btn-palegreen" value="保存" />
										</f:form>
									</div>
								</f:else>
							</f:if>
						</f:then>	
						<f:else>
							信息未绑定，请先绑定
						</f:else>
					</f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>